<header>
    <section class="logo-and-login-header">
        
        <i class="fas fa-bars menu-icono"></i>
        
        <a href="/" class="logo">
        <img  src="/images/logo2.JPG" alt="LOGO">
        </a>

        <nav class="login-and-cart-icons">
            <a href="login"><i class="fas fa-user-circle"></i></a>
            <a href="carrito"><i class="fas fa-shopping-cart"></i></a>
        </nav>
    </section>

    <div class="contenedor-banner">
    <img class="banner" src="/images/banner1.jpg" alt="banner">
    </div>
</header>
