<!DOCTYPE html>

<%-include ("./partials/head", {cssSheets: cssSheets}, {title: title}) %>

<body>
    
    <%-include("./partials/header") %>

<section class="search-and-nav">
    
    <div class="search-bar">
         <form action="/index" method="GET">
             <i class="fas fa-search icono"> </i> 
             <input type="text" name="busqueda" placeholder="Buscar productos">
         </form>
     </div>
</section>

    <main>
        <h1>PRODUCTOS DESTACADOS <i class="fas fa-angle-double-down flecha"></i> </h1>
        <section class="destacados">
            
            <article>
                <img src="/images/packLeonidas.JPG" alt="producto">
                <a class="nombre_producto" href="leonidas"><h2>PACK LEÓNIDAS</h2></a>
                
                <div class="precios">
                <p class="precio-sin-dto"> $ 18.500 </p>
                <p class="precio-final"> $ 13.000 </p>
                </div>
                <a class="detalles" href="leonidas">Ver detalles de este producto  <i class="fas fa-angle-double-right"></i></a>
            </article>
            
            <article>
                <img src="/images/packHelena.JPG" alt="producto">
                <a class="nombre_producto" href="helena"><h2>PACK HELENA</h2></a>
                                
                <div class="precios">
                    <p class="precio-sin-dto"> $ 6.999 </p>
                    <p class="precio-final"> $ 4.999 </p>
                    </div>
                <a class="detalles" href="helena">Ver detalles de este producto  <i class="fas fa-angle-double-right"></i></a>
            </article>
            <article>
                <img src="/images/packAnaxandro.JPG" alt="producto">
                <a class="nombre_producto" href="anaxandro"><h2>PACK ANAXANDRO</h2></a>
                                
                <div class="precios">
                    <p class="precio-sin-dto"> $ 3.800 </p>
                    <p class="precio-final"> $ 2.999 </p>
                    </div>
                <a class="detalles" href="anaxandro">Ver detalles de este producto  <i class="fas fa-angle-double-right"></i></a>
            </article>
            <article>
                <img src="/images/speed-rope.jpg" alt="producto">
                <a class="nombre_producto" href="speedrope"><h2>SPEED ROPE</h2></a>
                                
                <div class="precios">
                    <p class="precio-sin-dto"> $ 2.600 </p>
                    <p class="precio-final"> $ 1.999 </p>
                    </div>
                <a class="detalles" href="speedrope">Ver detalles de este producto  <i class="fas fa-angle-double-right"></i></a>
            </article>
            <article>
                <img src="/images/packBandas.JPG" alt="producto">
                <a class="nombre_producto" href="bandas"><h2>PACK BANDAS</h2></a>
               
                <div class="precios">
                    <p class="precio-sin-dto"> $ 3.999 </p>
                    <p class="precio-final"> $ 2.700 </p>
                    </div>
                <a class="detalles" href="bandas">Ver detalles de este producto  <i class="fas fa-angle-double-right"></i></a>
            </article>
            
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
    
</body>
</html>