<footer>
    <nav class="footer_nav_bar">
        <a href="#">Preguntas Frecuentes</a>
        <div class="redes">
            <p>Buscanos en las redes </p> 
            <i class="fas fa-angle-double-right"></i>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
        </div>
        <h4 id="copyright">Todos los derechos reservados Sparta Gym S.R.L.</h2>
    </nav>
   
</footer>