<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - SPARTA GYM</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/5b8d0b6d80.js" crossorigin="anonymous"></script>

    <!-- Css generico -->
    <link rel="stylesheet" href="/css/general/normalize.css">
    <link rel="stylesheet" href="/css/general/footer.css">
    <link rel="stylesheet" href="/css/general/header.css">

    <!-- Css particular -->
    <% cssSheets.forEach(element => { %>
        <link rel="stylesheet" href="/css/views/<%= element %>.css">
    <% }) %>
</head>